<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.koshu.flexbot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="de.koshu.flexbot.Flexbot"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="de.koshu.flexbot.service.ShiftService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="de.koshu.flexbot.automation.GeofenceHelper$GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="de.koshu.flexbot.automation.WifiHelper"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.koshu.flexbot.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="de.koshu.flexbot.ui.activities.OverviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.koshu.flexbot.ui.activities.DayActivity"
            android:parentActivityName="de.koshu.flexbot.ui.activities.OverviewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.koshu.flexbot.ui.activities.OverviewActivity" />
        </activity>

        <activity
            android:name="de.koshu.flexbot.ui.activities.EventActivity"
            android:parentActivityName="de.koshu.flexbot.ui.activities.OverviewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.koshu.flexbot.ui.activities.OverviewActivity" />
        </activity>
        <activity
            android:name="de.koshu.flexbot.ui.activities.SettingsActivity"
            android:parentActivityName="de.koshu.flexbot.ui.activities.OverviewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.koshu.flexbot.ui.activities.OverviewActivity" />
        </activity>
        <activity
            android:name="de.koshu.flexbot.ui.activities.TagListActivity"
            android:parentActivityName="de.koshu.flexbot.ui.activities.OverviewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.koshu.flexbot.ui.activities.OverviewActivity" />
        </activity>
        <activity
            android:name="de.koshu.flexbot.ui.activities.TagActivity"
            android:parentActivityName="de.koshu.flexbot.ui.activities.TagListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.koshu.flexbot.ui.activities.TagListActivity" />
        </activity>
    </application>

</manifest>